body {
    max-width: 100vw;
    max-height: 90vh;
    overflow-y: hidden;
    background-color: rgb(238, 243, 245);

}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 90vh;
    max-width: 100vw;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.aboutUsDiv {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.aboutUsDiv input {
    margin: 5%;
    margin-top: 0;
    background-color: white;
    border-radius: 15px;
    border: solid black 3px;
    font-size: 20pt;
    padding: 10px
}

.aboutUsDiv input:hover {
    cursor: pointer;
}

.container img {
    max-height: 40%;
    max-width: 40%;
    object-fit: scale-down;
    border-radius: 50%;
}