.headingBar {
    width: 100%;
    height: 10vh;
    font-size: 25pt;
    text-align: center;
    position: relative;
    align-content: center;
    z-index: 0;
}

#headingRowID {
    height: 20px !important;
}

@keyframes overlayGrow {
    from {
        width: 64px;
    }

    to {
        width: 100%;
    }
}

@keyframes overlayShrink {
    from {
        width: 100%;
    }

    to {
        width: 64px;
    }
}

.titleUnder {
    height: 100%;
    width: 100%;
    align-content: center;
    position: absolute;
    left: 0;
    z-index: 0;
    top: 0;
}

.contentContainer {
    height: 90vh;
    width: 100%;
}





.changeDir {
    position: absolute;
    z-index: 0;
    right: 32px;
    top: 30%;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20pt;
    border: 0;
    text-decoration: underline;
    color: black;
}

.changeDir:hover {
    cursor: pointer;
}

body {
    overflow-x: hidden;
    background-color: rgb(9, 209, 209);
    margin: 0;
    height: 100vh;
    overflow-y: hidden;

}

* {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.wave {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -10;
    bottom: -5%;
}

.waveHeading {
    top: 0;
    position: absolute;
    z-index: -10;
    left: 0;
}
