.filterOverlay {
    position: absolute;
    top: -2%;
    left: 0;
    width: 64px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: center;
    align-content: center;
    border: solid black 3px;
    border-top: 0;
    border-bottom: 0;
}

.filterOverlay::after {
    background-image: repeating-linear-gradient(to right, aqua, #2fb6e8, aqua);
    position: absolute;
    left: -100px;
    top: 0;
    content: '';
    width: 110%;
    height: 100%;
    z-index: -20;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top: 0;
    border-bottom: 0;
    border: solid black 3px
}

.filterOverlay table {
    position: absolute;
    table-layout: fixed;
    right: 0;
    top: 0;
    width: 90%;
    max-height: 100% !important;
    height: 100%;
    font-size: 15pt;



}

.filterOverlay table td {
    vertical-align: middle;
    text-align: center;
    justify-items: center;
}

.filterOverlay table input {
    display: block;
    margin-top: 0;
    width: 80% !important;
    height: 70% !important;
    max-height: 25px !important;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    border: solid black 3px;
    font-size: 15pt;
}

.filterOverlay table select {
    width: 80% !important;
    height: 90% !important;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin: auto;
    display: block;
    border-radius: 10px;
    border: solid black 3px;
    background-color: white;
    font-size: 15pt;
}


@keyframes overlayGrow {
    from {
        width: 64px;
    }

    to {
        width: 100%;
    }
}

@keyframes overlayShrink {
    from {
        width: 100%;
    }

    to {
        width: 64px;
    }
}

.titleUnder {
    height: 100%;
    width: 100%;
    align-content: center;
    position: absolute;
    left: 0;
    z-index: 0;
    top: 0;
}


#menu {
    position: absolute;
    left: 20px;
    top: 30%;
    width: 32px;
    z-index: 1;
}



.menu {
    width: 32px;
    height: 64;
}

.scrollDiv {
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
    border: solid black 3px;
}

.productsTable {
    height: 100%;
    width: 100%;
    background-color: white;
    /*  background-image: repeating-linear-gradient(to right, aqua, #1489b4, aqua);*/
}



.productsTable td {

    height: 45vh !important;
    width: 30%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}


.productImageDiv {
    width: 50%;
    height: 100%;
    align-content: center;
    text-align: center;
}

/* will be modified if there are only 2 itmes of less in the whole table*/
.productImageDiv input {
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: scale-down;
    border-radius: 20px;
    background-color: white;
    margin-left: 1%;
    border: solid black 3px;
    margin-left: 5%;
}

.productsText {
    width: 45%;
    height: 100%;
    font-size: 14pt;
    margin-left: 2%;
}

.productsText div {

    width: 100%;
    height: 30%;
    text-align: center;
    align-content: center;
    margin: 3%;
    margin-left: 4%;
    overflow-y: scroll;
    scrollbar-width: none;

}

.productContainer {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 90%;
    background-color: #12c5c5;
    background-image: repeating-linear-gradient(to right, aqua, #179aca, aqua);
    border-radius: 15px;
    border: solid black 3px;
}

/*background-image: repeating-linear-gradient(to right, aqua, #179aca, aqua);*/