.filterOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    outline: solid black 3px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: center;
    align-content: center;
}

.filterOverlay table {
    position: absolute;
    table-layout: fixed;
    right: 0;
    top: 0;
    width: 90%;
    max-height: 100% !important;
    height: 100%;
    font-size: 18pt;
}

.filterOverlay table td {
    vertical-align: middle;
    text-align: center;
}


.filterOverlay table input {
    margin-top: 0;
    width: 80% !important;
    height: 70% !important;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    border: solid black 3px;
    font-size: 15pt;
}

.filterOverlay table select {
    width: 80% !important;
    height: 80% !important;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin: auto;
    display: block;
    border-radius: 10px;
    border: solid black 3px;
    background-color: white;
    font-size: 15pt;
}


@keyframes overlayGrow {
    from {
        width: 64px;
    }

    to {
        width: 100%;
    }
}

@keyframes overlayShrink {
    from {
        width: 100%;
    }

    to {
        width: 64px;
    }
}

.titleUnder {
    height: 100%;
    width: 100%;
    align-content: center;
    position: absolute;
    left: 0;
    z-index: 0;
    top: 0;
}


#menu {
    position: absolute;
    left: 20px;
    top: 30%;
    width: 32px;
    z-index: 1;
}

.contentContainer {
    border: solid black 3px;
    height: 85vh;
    width: 100%;
}

.menu {
    width: 32px;
    height: 64;
}

.scrollDiv {
    overflow-y: scroll;
    height: 100%;
}

.productsTable {
    height: 100%;
    width: 100%;
}

.productsTable td {
    outline: solid black 3px;
    height: 33vh !important;
    width: 33%;
}

.productImageDiv {
    width: 50%;
    height: 100%;
    align-content: center;
    text-align: center;
}


.productImageDiv input {
    width: 100%;
    max-height: 300px;
    object-fit: scale-down;
    outline: dotted black 5px;

}

.productsText {
    width: 50%;
    height: 100%;
}

.productsText div {
    outline: dotted black 5px;
    width: 90%;
    height: 30%;
    text-align: center;
    align-content: center;
    margin: 3%;
    margin-left: 4%;
}

.productContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}