.filterOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: center;
    align-content: center;
    border-right: solid black 3px;
    border-bottom: solid black 3px;
}

.filterOverlay table {
    position: absolute;
    table-layout: fixed;
    right: 0;
    top: 0;
    width: 90%;
    max-height: 100% !important;
    height: 100%;
    font-size: 15pt;
}

.filterOverlay table td {
    vertical-align: middle;
    text-align: center;
    justify-items: center;
}

.filterOverlay table input {
    display: block;
    margin-top: 0;
    width: 80% !important;
    height: 70% !important;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    border: solid black 3px;
    font-size: 15pt;
}

.filterOverlay table select {
    width: 80% !important;
    height: 90% !important;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin: auto;
    display: block;
    border-radius: 10px;
    border: solid black 3px;
    background-color: white;
    font-size: 15pt;
}


@keyframes overlayGrow {
    from {
        width: 64px;
    }

    to {
        width: 100%;
    }
}

@keyframes overlayShrink {
    from {
        width: 100%;
    }

    to {
        width: 64px;
    }
}

.titleUnder {
    height: 100%;
    width: 100%;
    align-content: center;
    position: absolute;
    left: 0;
    z-index: 0;
    top: 0;
}


#menu {
    position: absolute;
    left: 20px;
    top: 30%;
    width: 32px;
    z-index: 1;
}

.contentContainer {
    border: solid black 3px;
    height: 85vh;
    width: 100%;
}

.menu {
    width: 32px;
    height: 64;
}

.scrollDiv {
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
}

.productsTable {
    height: 100%;
    width: 100%;

}

.productsTable td {

    height: 33vh !important;
    width: 30%;
    background-color: #11a9a9;
    outline: white solid 2px;

}



.productImageDiv {
    width: 50%;
    height: 100%;
    align-content: center;
    text-align: center;
}


.productImageDiv input {
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: scale-down;
    border-radius: 20px;
    background-color: white;
    margin-left: 1%;
    border: solid black 2px;
}

.productsText {
    width: 45%;
    height: 100%;
    font-size: 14pt;
}

.productsText div {

    width: 100%;
    height: 30%;
    text-align: center;
    align-content: center;
    margin: 3%;
    margin-left: 4%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.productContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}