.viewContainer {
    width: 100%;
    height: 100%;
    position: relative;
 background-image: repeating-linear-gradient(to right, aqua, #179aca, aqua);

}

.carouselContainer {
    position: absolute;
    left: 0;
    top: 0;
    right:70%;
    width: 30% !important;
    max-width: 30%;
    height: 100%;
    border: solid black 3px;
    border-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.carouselContainer img
{
    width: 50%;
    height: 30%;
    object-fit: scale-down;
    background-color: white;
    border:solid black 3px;
    border-radius: 15px;
    

    
}
.carouselContainer img:hover
{
    cursor: pointer;
}

.carouselContainer table {
    height: 90%;
    width: 100%;
    text-align: center;
}

.infoContainer {
    border:solid black 3px;
 
    position: absolute;
    left: 30% !important;
    top: 0;
    width: 70%;
    height: 100%;
    border-top-left-radius: 0;
}

.bottomInfo {
    position: absolute;
    right: 0;
    left: 1%;
    bottom: 0;
    height: 15%;

}

.rightInfo {
    position: absolute;
    right: 0;
    width: 55%;
    height: 80% !important;
    top: 0;
    bottom: 20%;
    margin-bottom: 1%;

}

.rightInfoTable {
    height: 90% !important;
    width: 100%; 
    table-layout: fixed;
    overflow-y: scroll;

}

.rightInfoTable tr {
    height: 45%;
}

.rightInfoTable td {
    text-align: center;
}

#titleRow {
    height: 10%;
}

.mainImg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 20%;
    right: 55%;
    align-content: center;
    text-align: center;
}

.mainImg img {
    height: 90%;
    width: 90%;
    background-color: white;
    object-fit: scale-down;
    border: solid black 3px;
    border-radius: 15px;
}

.bottomInfo table {

    height: 100%;
    width: 100%;

}

.bottomInfo td {
    width: 50%;
    text-align: center;
    font-size: 20pt;

}

.pricesTable {
    height: 100%;
    width: 100%;
    overflow-y: auto;
 
  
}

.pricesTable tr {
    height: 10%;
}

#carouselWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#carouselImage {
    width: 80%;           
    height: auto;         
    max-height: 300px;    
    object-fit: contain;   
    padding: 10px;
    background-color: white;
}

#DSCID {
    font-weight: bold;
    margin-bottom: 5px;
}

#description {
    font-style: italic;
    color: #222;             
    font-size: 1.1em;         
    margin-top: 10px;
    line-height: 1.4;
}

